* {
  margin: 0;
  padding: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color:#1F2937;
}
body{
  padding-bottom: 1000px ;
background-color: aqua;
}
.sec1{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.foto {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}
.aprst{
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  border-right: 8px solid yellow;
  border-bottom: 8px solid yellow;
  margin-top: 8px;
}

@media (max-width: 800px) {
  .sec1 {
    flex-direction: column;
  }
  .img {
    width: 200px;
    height: 200px;
  }
}

.github {
  height: 50px;
  width: 50px;
  border-radius: 25px;
  margin-left: 20px;
  margin-top: 10px;
}

.linkedin-logo {
  height: 50px;
  width: 50px;
  border-radius: 25px;
  margin-right: 20px;
  margin-top: 10px;
}
.about{
  margin: auto;
  margin-top: 100px;
  text-align: center;
  line-height: 25px;
  max-width: 800px;
}

@media (max-width: 800px) {
  .about {
    max-width: 400px;
    text-align: start;
  }
}
.chamado {
  margin-bottom: 20px;
}



.titulo-da-seção {
  font-size: 36px;
  font-weight: bolder;
  color: #1F2937;
  text-align: center;
  margin-top: 100px;
}
.imagens-seção-info {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 50px;
  align-items: start;
  justify-content: space-around;
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 50px;
  margin-bottom: 100px;
}
@media(max-width:800px){
  .imagens-seção-info{
    grid-template-columns: 1fr;
    row-gap: 50px;
  }
}
.imagem {
  border: solid 3px rgb(116, 116, 238);
  border-radius: 20px;
  height: 200px;
  width: 200px;
}
.foto-projeto{
  width: 100%;
  height: 100%;
  border-radius: 16px;
  object-fit: cover;
  object-position: center;
}
.imagem-info {
  text-align: center;
  font-size: 16px;
  color: rgb(95, 90, 90);
  font-weight: 500;
}
.tecnologias {
  text-align: center;
}

.fotoTec {
  height: 100px;
  width: 100px;
  border-radius: 5px;
}
.tecnologias-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

@media (max-width:800px){
  .tecnologias-container{
    flex-direction: column;
  }

  .fotoTecContainer {
    margin-bottom: 40px;
  }

}
